/*spider man*/
/* Estilos generales */
body {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #ca2326;
    color: #fff;
    padding: 1em;
    position: relative;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-container .logo {
    max-width: 110px;
    height: auto;
    position: absolute;
    left: 1em;
    margin-left: 70px;
    margin-top: 40px;
    transition: transform 0.2s;
}

.header-container .logo:hover {
    transform: scale(1.2);
}

.header-container h1 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main */
main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
}

ul {
    padding-left: 1em;
}

.image-row {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
}

.image-row img {
    width: calc(33.33% - 10px);
    max-width: 300px;
    height: auto;
    border: 2px solid #333;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

/* Responsive styles */
@media (max-width: 768px) {
.header-container {
        flex-direction: column;
        align-items: center;
    }

.header-container .logo {
        position: relative;
        margin: 0 auto 0.5em;
    }

nav ul {
        flex-direction: column;
        align-items: center;
    }

 .image-row {
        flex-direction: column;
        align-items: center;
    }

.image-row img {
        width: 80%;
    }
}

/*IRON MAN*/
/* Estilos generales */
.body2 {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
.header2 {
    background-color: #FF4500;
    color: #fff;
    padding: 1em;
    position: relative;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-container h1 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

/*nav*/
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main */
main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
}

ul {
    padding-left: 1em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

/*Capitan america*/
/* Estilos generales */
.body3 {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
.header3 {
    background-color: #003366;
    color: #fff;
    padding: 1em;
    position: relative;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-container h1 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main */
main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
}

ul {
    padding-left: 1em;
}

.image-row {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
}

.image-row img {
    width: calc(33.33% - 10px);
    max-width: 300px;
    height: auto;
    border: 2px solid #333;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

/*villanos*/
/**/